<!doctype html>
<html style="background:black">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xterm.css') }}" />
    <script src="{{ url_for('static', filename='js/xterm.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/xterm-addon-fit.js') }}"></script>    

</head>
<body style="margin:0;padding:0;overflow:hidden">
    <div id="terminal"></div>
    <script src="{{ url_for('static', filename='js/terminal.js') }}"></script> 
</body>
</html>